.header{
    display: flex;
    align-items: center;
}
.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.header logo{
    position: absolute;
    display: flex;
    align-items:flex-start;
    width: 30px;
}
.header .title-group{
    padding-left: 11px;
}
.header .title-group i {
    padding-right: 5px;
}