<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Bem vindo !!
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Sistema aprendendo sobre Angular da <a href="https://www.cod3r.com.br/courses/angular-9-essencial" target="blank"><strong>Cod<span class="red">3</span>r</strong></a>
        <h5>Utilizado</h5>
        <ul>
            <li>
                Angular : front-end
            </li>
            <li>
                Json-server : back-end
            </li>
        </ul>
    </mat-card-subtitle>
</mat-card>